<div ng-controller="MainCtrl">
  <div class="header">
    <ul class="nav nav-pills pull-right">
    <li><button class="btn btn-primary" ng-click="clear()">Clear</button></li>
    </ul>
    <h3 class="text-muted">JSON Schema (v4) Validator</h3>
  </div>
  <div class="row marketing">
    <div class="col-md-6">
      <h3>Json Schema:</h3>
      <textarea ui-codemirror="editorOptions" ng-model="schema"></textarea>
    </div>
    <div class="col-md-6">
      <h3>Json Data:</h3>
      <textarea ui-codemirror="editorOptions" ng-model="data"></textarea>
    </div>
  </div>
  <div class="row marketing">
    <div class="col-md-12 console">
      <div class="alert alert-success" ng-show="success">{{success}}</div>
      <div class="alert alert-danger" ng-show="errors" >{{errors.validation | json}}</div>
    </div>
  </div>

  <div class="footer">
    <p>♥︎ from the <a href="http://chrismckenzie.io">ChrisMckenzie</a></p>
  </div>
</div>
